

nav {

    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    border: solid grey;
    background-color: black;
    color: white;
}




nav li {



    display: flex;
    flex-direction: row;

}





.contenedor_miCuenta_ImgTuerquita {



    justify-content: flex-end;

}

.main_container {


    border: solid blue;
    height: 700px;

}