@media only screen and (min-width:600px) {

  /* Contenido de pagina
  visto desde PC */

    


}

nav {

    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    border: solid grey;
    background-color: black;
    color: white;
}



.tabla_productos {

    height: 600px;
    width: 900px;
    border: solid green;
   

}





/*

Tamaño aproximado para cada compra

height: 200px;
width: 300px;
 */


nav li {



    display: flex;
    flex-direction: row;

}





.contenedor_miCuenta_ImgTuerquita {



    justify-content: flex-end;

}

.main_container {


    display: flex;
    justify-content: center;
    align-items: center;
    border: solid blue;
    height: 700px;

}